body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

:root {
  /* Colors*/
  --background-default: #f5f4f0;
  --background-rodape: #fafaf9;
  --border-primary: #d9d9d9;
  --text-primary: #1b1b1b;
  --text-secondary: #333;
  --text-tertiary: #696969;
  --text-headline: #e1624f;
  --accent-blue: #0c51a7;
  --accent-orange: #e95e10;
  --accent-pink: #e5245e;
  --accent-purple: #591b98;
  --font-open-sans: "Open Sans";
  /* font sizes */
  --paragraph-size: 16px;
  --h3-size: 28px;
  --h2-size: 32px;
  --h1-size: 36px;
  --font-size-base: 16px;
}
