.headline {
  align-self: stretch;
  position: relative;
  text-transform: uppercase;
}
.titlle-h1 {
  align-self: stretch;
  position: relative;
  font-size: var(--h1-size);
  color: var(--text-primary);
}
.title-page {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.image-icon {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xl);
  max-width: 100%;
  overflow: hidden;
  height: 660px;
  flex-shrink: 0;
  object-fit: cover;
}
.description {
  align-self: stretch;
  position: relative;
  display: inline-block;
  height: 37px;
  flex-shrink: 0;
}
.description-image {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 4px 0px;
  gap: 24px;
  text-align: center;
  color: var(--text-secondary);
}
.divisor {
  align-self: stretch;
  position: relative;
  border-top: 1px solid var(--border-primary);
  box-sizing: border-box;
  height: 1px;
}
.headline1 {
  position: relative;
  text-transform: uppercase;
}
.title-h2 {
  position: relative;
  font-size: var(--h2-size);
  color: var(--text-primary);
}
.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2px;
}
.as-atraes-de {
  margin: 0;
}
.paragraph {
  align-self: stretch;
  position: relative;
  color: var(--text-secondary);
}
.image-icon1 {
  align-self: stretch;
  position: relative;
  border-radius: var(--br-9xl);
  max-width: 100%;
  overflow: hidden;
  height: 350px;
  flex-shrink: 0;
  object-fit: cover;
}
.templo-haedong-yonggungsa {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-18xl);
}
.title-h3 {
  width: 1183.5px;
  position: relative;
  display: inline-block;
}
.histria1 {
  color: var(--color-darkslateblue);
}
.content-card1 {
  align-self: stretch;
  position: relative;
  font-size: var(--paragraph-size);
  color: var(--text-secondary);
}
.content-card {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.card-travel {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.card-travel1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.casais1 {
  color: #591b98;
}
.span {
  color: var(--text-secondary);
}
.famlias {
  margin: 0;
  color: #e5245e;
}
.oramento {
  margin: 0;
  color: #e95e10;
}
.card-travel2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.list {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 48px;
  font-size: var(--h3-size);
  color: var(--text-primary);
}
.content-list {
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 64px;
}
.description1 {
  align-self: stretch;
  position: relative;
  color: var(--text-secondary);
  text-align: center;
}
.container {
  position: absolute;
  top: 88px;
  left: calc(50% - 560px);
  width: 1120px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 40px;
}
.feito-com {
  position: relative;
  line-height: 150%;
}
.phheart-fill-icon {
  width: 16px;
  position: relative;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.creditos {
  position: absolute;
  top: 3207px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-9xs);
  color: var(--text-secondary);
  font-family: var(--font-alice);
}

.foguete {
  width: 16px;
  height: 16px;
  color: var(--text-secondary);
}

.local-turistico {
  width: 100%;
  position: relative;
  background-color: var(--background-default);
  height: 3279px;
  overflow: hidden;
  text-align: left;
  font-size: var(--paragraph-size);
  color: var(--text-headline);
  font-family: var(--paragraph);
}
